<div class="jumbotron d-flex justify-content-center">
  <img class="img-fluid" src="../assets/images/12_burger.jpg" width="500" height="450" alt="burger image">
</div>

<div class="container bm-5">
  <h1 class="d-flex justify-content-center">Burgers!</h1>

<h2 class="d-flex justify-content-center">Burgers that have been devoured</h2>

<ul class="d-flexlist-group">
  {{#each burger_name}}
  {{#if devoured}}
  <button class="btn btn-warning btn-block">{{burger_name}}</button>
  {{/if}}
  {{/each}}
</ul>

<h2 class="d-flex justify-content-center">Burgers that have not been devoured</h2>

<p class="d-flex justify-content-center">Please click on the burger name to devour</p>

<ul class="d-flex list-group">
  {{#each burger_name}}
  {{#unless devoured}}
  {{> burgers/devoured devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2 class="d-flex justify-content-center">Add a burger</h2>
<form class="d-flex justify-content-center create-form">

  <div class="form-group">
    <label for="ca">Burger name: </label>
    <input type="text" id="new-burger" name="name">
  </div>

  <button class="btn btn-warning id="add-button" type="submit">Add Burger</button>
</form>
</div>